<h3>Pedido na Loja do Sombra enviado!</h3>
<p>
Esse email eh apenas para informa-lo(a) de que ja lhe enviamos os seguintes pedidos:
</p>
<table>
<tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items -%>
</table>
